<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile_style.css">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="" enctype="multipart/form-data">
        
      

      <hr>
      
    <header class="huvud">
        <ul>
            
            <li style="float: right;" class="icon"><img src="dots.png" alt=""></li>
            <li style="float: right;" class="icon"><img src="comment.png" alt=""></li>
            <li style="float: right;" class="icon"><img src="bell.png" alt=""></li>
            <li style="float:right"><a class="active" href="profil">{{user}}</a></li>
            <li style="float: right;"><a class="active" href="upload">Upload</a></li>
            <input type="text" placeholder="" name="">
            <li style="float: left;" class="logo"><img src="logo.png" alt=""></li>
            <li style="float: left;"><a class="active" href="hem">Home</a></li>
            <li style="float: left;"><a class="active" href="">Stream</a></li>
            <li style="float: left; " ><a class="active" href="album">Library</a></li>
        </ul>
        
    </header>
<main>
    {% if  file%}
    <div class="innehåll">
        <div class="profil_bild">
       
            
            <img src="{{url_for('static', filename = 'img/' + file )}}" alt="" width="200" class="profil_bild" >
            <div class="plate">
            <h1 class="plate">{{user}}</h1>
            </div>
            {%else%}
            <img src="{{url_for('static', filename = 'img/ jord' )}}" alt="" width="200" >
            {%endif%}
        </div>
    </div>

   

        <ul class="lista">
            <li><a href="login">All</a></li>
            <li><a href="album">album</a></li>
            <li><a href="track">populour track</a></li>
            <li><a href="playlist">playlist</a></li>
            <li><a href="repost">repost</a></li>
           
        </ul>
        


    
    {%if musik != None %}

        
        {%for track in musik.values() %}
            
            
                {%if track.get('file') != None %}
                
                <div class="låt">
                <img src="{{url_for('static', filename = 'img/' + file )}}" alt="" width="200" class="profil_bil" > 
                <audio controls >
                    <source src = "{{url_for('static', filename = 'music/' + track.get('file') )}}" type="audio/mpeg" class="låt"> 
                
                </audio>
            </div>
                {%endif%}

            {%endfor%}
        {%endif%}


   

    <script src="profil.js"></script>
</form>
</main>
    
</body>
</html>