<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sida.css">
</head>
<body>
    <div class="ruta">
        <form action="/login" method="post">
        <label for=""></label>
        <input type="text" placeholder="användanamn" class="input" name="username"  value="{{request.form.username}}">
        
        <label for=""></label>
       
        <input type="password" placeholder="lössenord" class="input1" name="password" id="password"  value="{{request.form.password}}">
        
        <input type="submit"  class="knapp" > 
        <a href="/">sign up</a>
    </form>
    </div>
</body>
</html>