<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header class="huvud">
        <ul>
            
            <li style="float: right;" class="icon"><img src="dots.png" alt=""></li>
            <li style="float: right;" class="icon"><img src="comment.png" alt=""></li>
            <li style="float: right;" class="icon"><img src="bell.png" alt=""></li>
            <li style="float:right"><a class="active" href="profil">{{user}}</a></li>
            <li style="float: right;"><a class="active" href="upload">Upload</a></li>
            <input type="text" placeholder="" name="">
            <li style="float: left;" class="logo"><img src="logo.png" alt=""></li>
            <li style="float: left;"><a class="active" href="hem">Home</a></li>
            <li style="float: left;"><a class="active" href="">Stream</a></li>
            <li style="float: left; " ><a class="active" href="album">Library</a></li>
        </ul>
      
    </header>
   

    <main class="carousel" length>
        <h1>slide</h1>
        <span >&#139;</span>
        <span>&#155;</span>
        <section id="gallery" class="gallery">
           
                <div ><img src="rock.jpg" alt=""></div>
                <div>02</div>
                <div>03</div>
                <div>04</div>
                <div>05</div>
                <div>06</div>
                <div>07</div>
                <div>08</div>
                <div>09</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>
                
            
        </section>
        
    </main>
    <main class="carousel" >
        <h1>slide</h1>
        <span>&#139;</span>
        <span ></span>&#155;</span>
        <section id="gallery" class="gallery">
           
                <div ><img src="rock.jpg" alt=""></div>
                <div>02</div>
                <div>03</div>
                <div>04</div>
                <div>05</div>
                <div>06</div>
                <div>07</div>
                <div>08</div>
                <div>09</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>
                
            
        </section>
        
    </main>

    <main class="carousel">
        <h1>slide</h1>
        <span>&#139;</span>
        <span>&#155;</span>
        <section id="gallery" class="gallery">
           
                <div ><img src="rock.jpg" alt=""></div>
                <div>02</div>
                <div>03</div>
                <div>04</div>
                <div>05</div>
                <div>06</div>
                <div>07</div>
                <div>08</div>
                <div>09</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>
            
        </section>
        
    </main>



    













<script type="text/javascript" src="script.js"></script>
</body>
</html>